@charset "utf-8";

html {
    text-rendering: optimizeLegibility !important;
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000;
    background: transparent;
    text-rendering: optimizeLegibility;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.tel {
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .tel {
        pointer-events: auto;
    }
}

/* ===============================
Text align
=============================== */
.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .txt-left-sp {
        text-align: left;
    }

    .txt-center-sp {
        text-align: center;
    }

    .txt-right-sp {
        text-align: right;
    }
}

/* ===============================
Color
=============================== */
.main-color {
    color: #000;
}

.blue-color {
    color: #011b5c;
}

.blue-color-one {
    color: #002483;
}

.w-color {
    color: #fff;
}

/* ===============================
Background Color
=============================== */
.bg-white {
    background: #ffffff;
}

.bg-gray {
    background: #f0f1f5;
}

.bg-blue {
    background: #001c5c;
}

.bg-blue-two {
    background-color: #002483;
}

/* ===============================
Container
=============================== */
.container{
    max-width: 1216px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

/* ===============================
Start Bread Crumb
=============================== */

.bread-crumb{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
}

.bread-crumb-list{
    display: flex;
    gap: 17px;
    padding-left: 20px;
    position: relative;
}

.bread-crumb-list::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url(/assets/img/common/bread_crumb_tier.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.bread-crumb-item{
    font-size: 1.4rem;
    font-weight: 400;
}

.bread-crumb-link{
    color: #0C7C34;
    position: relative;
}

.bread-crumb-link::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    width: 6px;
    height: 10px;
    background-image: url(/assets/img/common/bread_crumb_arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/* ===============================
End Bread Crumb
=============================== */

/* ===============================
Start H2 Title One
=============================== */
.h2-title-one{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.6;
    color: #212121;
    position: relative;
}

.h2-title-one::before{
    content: '';
    width: 60px;
    height: 4px;
    background-color: #0C7C34;
    position: absolute;
    top: -22px;
    left: 0;
}

/* ===============================
End H2 Title One
=============================== */