@charset "utf-8";

.ssr-title-div {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}
.ssr-title {
    font-family: "Noto Serif JP", serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.6;
}